<html>
<head>
    <meta charset="utf-8" />
    <title>{{ pagetitle }}</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
        $(function() {
            $( "a, input")
            .button()
        });
    </script>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>